@import url('https://fonts.googleapis.com/css2?family=Itim&family=Ubuntu:wght@400;500;700&display=swap');
/* ::-webkit-scrollbar{
  display: none; */
/* } */
* {
  margin: 0;
  padding: 0;
  
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
  height: auto;
}
/* header */
.navbar {
  position: fixed;
  z-index: 9999999;
  width: 100%;
}

#portfolio {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
#portfolio span {
  color: crimson;
}
.navbar{
    transition: all 0.5s ease;
}
.navbar.sticky #portfolio span{
    color: white;
}
.navbar.sticky a span{
    color: #fff;
}

.navbar.sticky{
    padding: 10px;
    background-color: crimson;
}
.navitems span {
  color: rgba(255, 255, 255, 0.527);
  margin-right: 35px;
  word-spacing: 5px;
  transition:  color 0.5s ease;
}
.navitems span:hover {
  color: crimson;
}
#home{
  height: 100vh;
  overflow: hidden;
}
/* header :end */

/* leftsection */
.left-side {
  margin-top: 290px;
  margin-left: 50px;
}
.left-side h1 {
  color: rgba(255, 255, 255, 0.781);
  font-size: 30px;
  font-weight: 500;
  word-spacing: 4px;
  font-family: 'Itim', cursive;
}
.left-side h4 {
  color: rgba(255, 255, 255, 0.575);
  word-spacing: 3px;
}
.left-side span {
  color: crimson;
  word-spacing: 3px;
  font-weight: 700;
  font-size: 30;
}


.left-side button {
  color: rgb(255, 255, 255);
  background-color: crimson;
  border: 2.4px solid white;

  outline: none;
  border-radius: 7px;
  padding: 5px 10px;
  margin-top: 2rem;
}
.left-side button:hover {
  background-color: #000000;
  color: crimson;
  border: 2px solid crimson;
}
/* .left-side finished */
/* right side  */
.image {
  width: 500px;
  height: 500px;
  background-image: url("images/background2.jpg");
  margin-top: 190px;
}
.fas {
  color: rgb(0, 0, 0);
  transform: rotate(-45deg);
  text-shadow:2px 2px 5px #5f0719;
}
.arrowicn {
  background-color: rgba(233, 216, 219, 0.815);
  display: inline;
  padding: 6px 9px;
  border-radius: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  box-shadow: 5px 5px 5px -3px rgba(105, 103, 103, 0.212),inset 5px 5px 5px -1px rgba(255, 255, 255, 0.3);
}

.fas:hover {
  color: rgb(53, 10, 19);
  margin: 4px 2px;
}

/* rightsection finished */
/* about section started */

.about-section{
  background-color: #000000;
  width: 100%;
  height: 100vh;
  
}
.aboutdiv{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutdiv h1{
  font-weight: 800;
  text-shadow: 1px 1px 4px  rgba(255, 255, 255, 0.4);
  color: rgb(0, 0, 0);

}
.about{
  background-color: #000000;
  margin-left: 0px;
  width:80%;
  height:450px;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow:1px 1px 7px 1px rgba(255, 255, 255, 0.336) ;
}

@media (max-width: 480px) {
  #portfolio {
    font-size: 40px;
  }
  
  .navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
  }
  .left-side {
    margin-top: 190px;
    margin-left: 26px;

    
    
}
.image {
  margin-top: 0px;
  width: 500px;
  height: 350px;
  background-image: url(images/background3.jpg);
  
  
}

.left-side h1 {
  color: rgba(255, 255, 255, 0.781);
  font-size: 20px;
  font-weight: 500;
  word-spacing: 2px;
  font-family: 'Itim', cursive;
}
.left-side h4 {
  color: rgba(255, 255, 255, 0.575);
  word-spacing: 2px;
  font-size: 20px;
}
.left-side span {
  
  color: crimson;
  font-size: 20px;
  font-weight: 500;
  
  font-family: 'Ubuntu', sans-serif;
}
.left-side button {
  color: rgb(255, 255, 255);
  background-color: crimson;
  border: 2.4px solid white;

  outline: none;
  border-radius: 7px;
  padding: 5px 10px;
  margin-top: 2rem;
}
.navbar.mobile{
  padding: 10px;
  background-color: crimson;
}
}
