@import url('https://fonts.googleapis.com/css2?family=Itim&family=Ubuntu:wght@400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
::-webkit-scrollbar{
 display: none;
}
* {
  margin: 0;
  padding: 0; 
  z-index: 1;
}


html {
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
  height: auto;
}
/* header */
.navbar {
  position: fixed;
  z-index: 9999999;
  width: 100%;
}

#portfolio {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
#portfolio span {
  color: #f4af1b;
}
.navbar{
    transition: all 0.5s ease;
}
.navbar.sticky #portfolio span{
    color: white;
}
.navbar.sticky #portfolio{
  color: #00154f;
}
.navbar.sticky a span{
    color: #00154f;
}

.navbar.sticky{
    padding: 10px;
    background-color: #f4af1b;
}
.navitems span {
  color: rgba(255, 255, 255, 0.527);
  margin-right: 35px;
  word-spacing: 5px;
  transition:  color 0.5s ease;
}
.navitems span:hover {
  color: #f4af1b;
}
.navbar.sticky span:hover {
  color: #ffffff;
}
#home{
  height:100vh;
  overflow: hidden;
}
/* header :end */

/* leftsection */
.left-side {
  margin-top: 240px;
  margin-left: 50px;
}
.left-side h1 {
  color: rgba(255, 255, 255, 0.781);
  font-size: 30px;
  font-weight: 500;
  word-spacing: 4px;
  font-family: 'Itim', cursive;
}
.left-side h4 {
  color: rgba(255, 255, 255, 0.575);
  word-spacing: 3px;
}

.left-side span {
  color: #f4af1b;
  word-spacing: 3px;
  font-weight: 700;
  font-size: 30;
}


.left-side button {
  color: rgb(0, 0, 0);
  background-color: #f4af1b;
  border: 2.4px solid white;
  font-weight: 700;

  outline: none;
  border-radius: 7px;
  padding: 5px 10px;
  margin-top: 2rem;
}
.left-side button:hover {
  background-color: #000000;
  color: #f4af1b;
  border: 2px solid #f4af1b;
}
/* .left-side finished */
/* right side  */
.image {
  width: 500px;
  height: 460px;
  background-image: url("images/background2.jpg");
  margin-top: 160px;
}
.fas {
  color: rgba(0, 0, 0, 0.411);
  transform: rotate(-45deg);
  text-shadow:2px 2px 5px #5f071960;
  
}
.arrowicn {
  background-color: rgba(233, 216, 219, 0.678);
  opacity: 40%;
  display: inline;
  padding: 6px 9px;
  border-radius: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  box-shadow: 5px 5px 5px -3px rgba(105, 103, 103, 0.212),inset 5px 5px 5px -1px rgba(255, 255, 255, 0.3);
}

.fas:hover {
  color: rgb(53, 10, 19);
  margin: 4px 2px;
}

/* rightsection finished */
/* icons section */



.icns{
  
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 80%;
  
}

.icns h4{
  margin: 0;
  padding: 0;
}
.icns h2{
  margin: 0;
  padding: 0;
  font-size: 15px;
  margin-left: 0px;
  color: rgba(255, 255, 255, 0.863);
}
.icns h1{
 font-size: 20px;
 text-align: center;
 color: #f4af1b;

 
}
.icns p{
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.616);
  font-size: 9px
}
.projects-icon{
  background-color: #000000fb;
  height:31px;
  width: 32px;  
  color: #f4af1b;
  border-radius: 100%;
  text-align: center; 
}
.fa-mug-hot{
  color: #f4af1b;
  transform: rotate(0deg);
}
.projects-home{
  display: flex;
  margin-right: 40px;
}

/* about section started */

.about-section{
  background-image: linear-gradient(rgb(0, 0, 0), rgb(43, 43, 43));
  width: 100%;
  height: 100vh;
  
}
.aboutdiv{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
.aboutdiv h1{
  font-weight: 800;
  text-shadow: 1px 1px 4px  rgba(255, 255, 255, 0.4);
  color: rgb(0, 0, 0);

}
.about{
  
  margin-left: 0px;
  width:80%;
  height:450px;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow:1px 1px 7px 1px rgba(255, 255, 255, 0.336) ;
}
.whoiam h3{
  color: #fff;
  font-family: 'Itim', cursive;
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30;
  
}
.whoiam p{
  color: rgba(255, 255, 255, 0.712);
  font-family: 'Ubuntu', sans-serif; 
  font-weight: 300;
  font-size: 22px;
  word-spacing: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

/* iconsection ended */
/* Skill Section Start */
.skills-section{
  color: #973434d7;
 
}
.skills-title{
  font-weight: 800;
  margin-bottom: 4rem;
  margin-top: 5rem;
  color: rgba(255, 255, 255, 0.356);
  font-family: 'Ubuntu';
  letter-spacing: 2px;
}
.skills-subtitle{
  font-weight: 700;
  font-size: 30px;
  text-align: start;
  color: rgba(255, 255, 255, 0.479);
  font-family: 'Ubuntu';
  letter-spacing: 3px;
}
.skills-container p{
  text-align: start;
  color: rgba(255, 255, 255, 0.363);
}
.skills-data{
  background-color: #000000;
  margin-bottom: 30px;
  color: #f4af1b;
  box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.541);
}
.fa-paint-brush{
  transform: rotate(0deg);
}
.skills-container{
  text-align: center;
}
.skills-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: .5rem;
  margin-bottom: 20px;
  
}
.skills-icon{
  font-size: 2rem;
  margin-right: 15px;
  color: #f4af1b;
  transform: rotate(0deg);
}
.skills-names{
  display: flex;
  align-items: center;
}
.skills-bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  height: .25rem;
  border-radius: .5rem;
  z-index: -10;
}
.skills-html{
  width: 95%;
}
.skills-css{
  width: 80%;
}
.skills-js{
  width: 50%;
}
.skills-ux{
  width: 75%;
}
.skills-python{
  width: 52%;
}


/* skills left section is finished  */
/* skill right section */

.skills-right{
  margin-top: 107px;

}
.skills-bootstrap{
  width: 82%;
}
.skills-java{
  width: 25%;
}
.skills-mysql{
  width: 55%;
}









@media (max-width: 480px) {
  #portfolio {
    font-size: 25px;
  }
  #home{
    height:auto;
    overflow: hidden;
  }
  .navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
  }
  .left-side {
    margin-top: 190px;
    margin-left: 26px;
    
}
.icns{
  margin-left: 20px;
}
.projects-home:nth-child(1){
  width: 58px;
}
.projects-home:nth-child(3){
  width: 89px;
}
.projects-home{
  display: flex;
  margin-right: 10px;
}
.image {
  margin-top: 0px;
  width: 500px;
  height: 350px;
  background-image: url(images/background3.jpg);
  
  
}

.left-side h1 {
  color: rgba(255, 255, 255, 0.781);
  font-size: 20px;
  font-weight: 500;
  word-spacing: 2px;
  font-family: 'Itim', cursive;
}
.left-side h4 {
  color: rgba(255, 255, 255, 0.575);
  word-spacing: 2px;
  font-size: 20px;
}
.left-side span {
  
  color: #f4af1b;
  font-size: 20px;
  font-weight: 500;
  
  font-family: 'Ubuntu', sans-serif;
}
.left-side button {
  color: rgb(0, 0, 0);
  background-color: #f4af1b;
  border: 2.4px solid white;

  outline: none;
  border-radius: 7px;
  padding: 5px 10px;
  margin-top: 2rem;
}
.navbar.mobile{
  padding: 10px;
  background-color: #f4af1b;
}
.whoiam h3{
  color: #fff;
  font-family: 'Itim', cursive;
  font-weight: 100;
  margin-top: -20px;
  margin-bottom: 50px;
  font-size: 30;
  
}
.skills-right {
  margin-top: 0px;
}
.skills-subtitle {
  font-weight: 700;
  font-size: 25px;
  text-align: start;
  color: rgba(255, 255, 255, 0.479);
  font-family: 'Ubuntu';
  letter-spacing: 2px;
}
.skills-title {
  font-weight: 800;
  margin-bottom: 4rem;
  margin-top: 0rem;
  color: rgba(255, 255, 255, 0.356);
  font-family: 'Ubuntu';
  letter-spacing: 2px;
}
}
